* { box-sizing: border-box; }

body, html {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f4f8;
    overflow: hidden; 
}

.row1 {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 150px;
    background-color: #ffffff;
    border-bottom: 2px solid #cfcfcf;
}

.row2 {
    height: 60px;
    background-color: #e8f0fe;
    border-bottom: 2px solid #c5d3f2;
}

.row3 {
    display: grid;
    grid-template-columns: 30% 70%;
    height: calc(100vh - 210px); 
}

iframe {
    width: 100%; height: 100%;
    border: none;
    display: block;
}

.row1 iframe:first-child, 
.row3 iframe:first-child {
    border-right: 2px solid #b0b0b0;
}
